# Forcer la résolution des dépendances React
legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true

# Forcer une seule version de React
resolution.react=^18.3.1
resolution.react-dom=^18.3.1
resolution.@types/react=^18.3.3
resolution.@types/react-dom=^18.3.0 